* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.slide-in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transform-origin: bottom;
}
.slide-out {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transform-origin: top;
}

.dogdiv {
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
}
